<phpunit bootstrap="tests/bootstrap.php" colors="true" >
    <logging>
        <log type="junit" target="build/logs/TEST-junit.xml" logIncompleteSkipped="false" title="Test Results"/>
    </logging>
    <testsuites>
        <testsuite name="app">
            <directory>tests/App</directory>
        </testsuite>
    </testsuites>
</phpunit>